Source: dsa-mq
Maintainer: Stephen Gran <sgran@debian.org>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.4

Package: python-dsa-mq
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Common libraries for pub/sub messaging in debian
 Intended to provide a consistent access to Pub/Sub messaging
 for debian.org hosts and projects
