Source: dsa-mq
Maintainer: Stephen Gran <sgran@debian.org>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-dsa-mq
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Common libraries for pub/sub messaging in debian

